# DATA SCIENCE

## Introduction
This notebook provides an overview of various data science concepts.

## Data Science Languages
- Python
- R
- SQL
- Julia
- Scala

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow

## Data Science Tools
| Tool          | Description               |
|---------------|---------------------------|
| Jupyter       | Notebook environment      |
| RStudio       | IDE for R programming     |
| Apache Spark  | Big data processing       |
| Tableau       | Data visualization        |

## Arithmetic Expression Examples
Examples of basic arithmetic operations in Python.

In [2]:
# Multiplication and addition
result = (3 * 4) + 5
result

17

In [3]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60
hours

2.0

## Objectives
- Learn basic Markdown syntax
- Understand Jupyter Notebook structure
- Practice simple Python operations

**Author**: 
Redouane SADOUK